.button {
  color: white;
  padding: 5px;
  background: #7aa2cc;
  border-radius: 5px;
  border: none;
  width: 100%;

  &:hover {
    cursor: pointer;
    background: #6080a2;
  }

  &:disabled {
    background: gray;
  }
}