.editor-popover {
  top: -9999px;
  left: -9999px;
  position: absolute;
  z-index: 1;
  padding: 3px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  overflow: scroll;

  .editor-popover-item {
    color: #cecece;

    &.selected {
      background-color: #ececec;
    }

    .editor-popover-item-name {
      color: black;
    }

    .editor-popover-item-path, .editor-popover-item-table {
      color: #cecece;
    }

    .editor-popover-item-table {
      margin-right: 5px;
    }
  }
}

.editor {
  flex: 1;

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p, ul, ol, h1, h2, h3 {
    margin: 0px;
  }

  a {
    color: blue;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .formula {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }

    .input {
      width: auto;
    }
  }

  .callout {
    padding: 10px;
    // padding-left: 30px;
    margin-left: 20px;

    .lightbulb-popover {
      display: inline;
    }

    .lightbulb {
      margin-right: 10px;
      color: #fffab9;

      &:hover {
        cursor: pointer;
      }
    }

    &.gray {
      background-color: #ececec;
    }

    &.blue {
      background-color: #d6d6ff;
    }

    &.red {
      background-color: #ffd6d6;
    }

    &.orange {
      background-color: #ffd890;
    }

    &.yellow {
      background-color: #fffab9;;
      .lightbulb {
        color: #e4e4e4;
      }
    }

    &.green {
      background-color: #d4ffd4;
    }
  }

  .quote {
    padding: 10px;
    border-left: solid 2px black;
    font-style: italic;
    margin-left: 20px;
  }

  .page-link {
    color: black;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  .record {
    padding: 3px;
    border-radius: 2px;
    background: #ececec;

    &:hover {
      cursor: pointer;
      background: #cecece;
    }
  }

  .dice {
    padding: 3px;
    border-radius: 2px;
    background: #7aa2cc;
    color: black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: #6080a2;
    }
  }

  .leaf.bold {
    font-weight: bold;
  }

  .leaf.italic {
    font-style: italic;
  }
}