.sidebar{
  display: flex;

  .sidebar-drag-handle {
    background: #cecece;
    width: 4px;
    height: 100%;

    &:hover {
      cursor: ew-resize;
    }
  }

  .sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    width: 50%;
    padding: 10px;
    overflow: hidden;

    .header {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .pages-header {
      font-weight: bold;
    }

    .pages-list {
      overflow: scroll;
      flex: 1;
    }

    .page-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-top: 5px;
      width: fit-content;
      min-width: -webkit-fill-available;

      &.hidden {
        display: none;
      }

      &.active {
        background: #cecece;
      }

      &:hover {
        background: #cecece;
        cursor: pointer;

        .menu, .add-subpage, .grip {
          opacity: 1;
        }
      }

      .menu, .add-subpage, .grip {
        opacity: 0;
        color: #a0a0a0;
      }

      .dropdown-caret {
        width: 25px;
        margin-left: 5px;

        &.hidden {
          opacity: 0;
          pointer-events: none;
        }
      }

      .menu {
        padding: 0px 5px;
      }

      .page-name {
        width: 100%;
      }
    }

    .add-page {
      margin-top: 20px;
    }
  }
}
