.sidebar {
  display: inline-block;
  max-width: 250px;
  background-color: #cecece;
  width: 50%;
  height: 100%;
  padding: 30px;
}

.sidebar > .header {
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar > .pages {

}