.sidebar {
  display: inline-block;
  max-width: 250px;
  background-color: #cecece;
  width: 50%;
  height: 100%;

  .header {
    font-weight: bold;
    margin-bottom: 40px;
  }

  .pages-header {
    font-weight: bold;
  }

  .pages {
    .page-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;

      &.active {
        background: #bdbdbd;
      }

      &:hover {
        background: #bdbdbd;
        cursor: pointer;
      }

      .menu {
        padding: 0px 5px;
      }

      .page-name {
        width: 100%;
        margin-left: 10px;
      }
    }
  }

  .add-page {
    margin-top: 20px;
  }
}