.page {
  display: flex;
  flex-direction: column;

  .page-header {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .add-content-section {
    height: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .content-row {
    padding: 5px 20px;
    display: flex;
    align-items: center;

    .menu {
      padding: 5px 20px;
    }

    .media-input {
      flex: 1;
    }
  }
}