.page {
  display: flex;
  flex-direction: column;

  .page-header {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .add-content-section {
    height: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .content-row {
    padding: 0px 60px 0px 20px;
    display: flex;
    align-items: baseline;

    &:hover {
      .menu, .grip {
        opacity: 1;
      }
    }

    .grip {
      opacity: 0;
    }

    .menu {
      padding: 0px 10px;
      opacity: 0;
    }

    .media-input {
      flex: 1;
    }
  }
}