.roller-bar {
  display: flex;

  .roller-bar-drag-handle {
    width: 4px;
    height: 100%;
    background: #cecece;

    &:hover {
      cursor: ew-resize;
    }
  }

  .roller-bar-content {
    flex: 1;
    background-color: #ececec;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}