.page {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .page-navigation {
    padding: 20px 20px 0px 20px;
    color: gray;

    i:hover {
      color: black;
      cursor: pointer;
    }

    i:first-child {
      margin-right: 15px;
    }

    .disabled {
      color: #ececec;
      pointer-events: none;

      &:hover {
        color: #ececec;
        cursor: default;
      }
    };
  }

  .page-path {
    padding: 10px 20px 0px 20px;
    color: gray;

    span {
      margin-right: 10px;

      &::after {
        content: '/';
        color: gray;
        margin-left: 10px;
      }

      &:last-child::after {
        content: '';
      }

      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }

  .page-header {
    font-weight: bold;
    font-size: 30px;
    padding: 30px 70px;
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .add-content-section {
    height: 100px;
    min-height: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .content-row {
    padding: 10px 20px 0px 20px;
    display: flex;
    align-items: baseline;

    .grip, .menu {
      color: #cecece;

      &:hover {
        color: black;
        cursor: pointer;
      }
    }

    .menu {
      padding: 0px 10px;
    }

    .editor {
      flex: 1;
      border-left: #cecece 1px solid;
      padding: 2px 10px;;
    }

    .v-table {
      border-left: #cecece 1px solid;
      padding: 2px 10px;;
    }
  }
}