.table {
  margin-left: 10px;
  overflow-x: auto;
  flex: 1;
  width: 1px;

  .filter-cell {
    padding: 5px;

    input {
      border: solid 1px gray;
    }
  }


  .column-header {
    display: flex;
    align-items: center;

    .delete-column {
      margin-left: 10px;
      opacity: 0;

    }

    &:hover {
      .delete-column {
        opacity: 1;
      }
    }
  }

  pre {
    margin-top: 8px;

    &[disabled] {
      margin-top: 0px;
    }
  }

  i:hover {
    cursor: pointer;
  }

  td {
    vertical-align: top;
  }

  .table-name {
    font-weight: bold;
    font-size: 20px;
    margin-left: -23px;
  }

  .table-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .table-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        margin-left: 10px;
      }

      .search {
        border: 1px solid #cecece;
      }
    }
  }

  .table-cell {
    white-space: break-spaces;
  }

  .row-menu {
    color: #cecece;
    padding-left: 0px;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      color: #b0b0b0
    }
  }
}