.table {
  margin-left: 10px;
  overflow-x: auto;
  flex: 1;
  width: 1px;

  .row-menu {
    color: #cecece;
    padding-left: 0px;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      color: #b0b0b0
    }
  }

  .rdg {
    border: none;
    background: none;


    .rdg-row, .rdg-header-row {
      background: none;
      .rdg-cell:first-child {
        border-right: none;
        border-bottom: none;
        padding: none;
      }

      .rdg-cell:last-child {
        border-right: none;
      }
    }

    .rdg-row:nth-last-child(2) {
      .rdg-cell {
        border-bottom: none;
      }
    }
  }
}