.table {
  margin-left: 10px;
  overflow-x: auto;
  flex: 1;
  width: 1px;

  td {
    vertical-align: top;
  }

  .table-name {
    font-weight: bold;
    font-size: 20px;
    margin-left: -23px;
  }

  .table-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .table-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        margin-left: 10px;
      }

      .search {
        border: 1px solid #cecece;
      }
    }
  }

  .table-cell {
    white-space: break-spaces;
  }

  .row-menu {
    color: #cecece;
    padding-left: 0px;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      color: #b0b0b0
    }
  }
}