.dragging-row {
  display: table !important;
  background-color: #ececec;
  overflow: hidden;
  opacity: .5;

  td {
    border-bottom: 1px solid #ececec;
    padding: 10px 0px;
    vertical-align: top;
    word-break: break-word;

    .editor {
      border-left: 0px;
    }

    .v-data-cell {
      display: flex;
      align-items: baseline;
      overflow: hidden;

      i {
        padding: 0px 10px;
      }
    }
  }
}

.v-table {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 780px;
  overflow-y: scroll;

  .v-table-grid {
    flex: 1 1 auto;
    overflow: scroll;
    display: flex;

    table {
      border: none;

      tr {
        th {
          border-bottom: 1px solid #cecece;
          text-align: left;
          position: sticky;
          top: 0;
        }
        td {
          border-bottom: 1px solid #ececec;
          padding: 10px 0px;
          vertical-align: top;
          word-break: break-word;
          .editor {
            border-left: 0px;
          }
        }
      }
    }
  }

  .v-table-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

    input {
      max-width: 100px;
    }
  }

  i {
    color: #cecece;
    padding-left: 5px;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .v-header-cell {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-right: solid 1px #cecece;
    background: #ececec;
    align-items: center;
    flex-flow: wrap;

    .v-header-text {
      padding-left: 10px;
      display: inline-block;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
    }

    .v-header-grip {
      &:hover {
        cursor: col-resize;
      }
    }

    .v-table-filter {
      flex-basis: 100%;
      margin: 5px;
    }
  }

  .v-data-cell {
    display: flex;
    align-items: baseline;
    overflow: hidden;

    .grip-lines {
      padding: 0px 10px;
    }
  }

}