.App, #root, body, html {
  height: 100%;
}

.App {
  background-color: #eaeaea;
  color: black;
  display: flex;

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > *:first-child {
      flex: 1;
    }
  }
}