.App, #root, body, html {
  height: 100%;
}

.App {
  background-color: #f7f7f7;
  color: black;
  display: flex;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    & > *:first-child {
      flex: 1;
    }
  }
}